@import 'variables/global';
@import 'reset';

body {
  background: var(--gray-bg);
}

a {
  text-decoration: none;
  color: var(--white);
}

.app {
  .container {
    width: calc(100% - var(--sidebar-width));
    margin-top: var(--navbar-height);
    margin-left: var(--sidebar-width);
    padding: 30px;
  }
}
