:root {
  --font-size-m: 16px;
  --font-size-l: 24px;
  --gray: #fafafa;
  --gray-bg: #f7f7f7;
  --gray-icon: #7f8082;
  --gray-text: #86868b;
  --white: #ffffff;
  --black: #12131a;
  --blue: #296fb8;
  --violet: #583da1;

  // Размеры
  --navbar-height: 70px;
  --sidebar-width: 250px;
}
