.modal {
  background: var(--white);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;

  .container {
    height: 100%;
    position: relative;
    padding: 50px 40px;
    overflow-y: auto;
  }
}
