.sidebar {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: var(--sidebar-width);
  background-color: var(--black);
  padding: 30px 10px;
  color: var(--white);

  .content {
    position: relative;
    height: 100%;

    .logo {
      text-align: center;
      a {
        color: var(--white);
      }
    }

    .icon {
      margin: 10px 10px;
      color: var(--gray-icon);
      margin-right: 20px;
    }

    .list {
      margin-top: 100px;
      .item {
        margin: 10px 0;
        cursor: pointer;
        padding: 10px 10px;
        display: flex;
        align-items: center;
        color: var(--white);
        &:hover {
          background: var(--violet);
          border-radius: 20px;
          .icon {
            color: var(--white);
            transition: all 0.3s linear;
          }
          transition: all 0.3s linear;
        }
      }
    }
    .logout {
      position: absolute;
      bottom: -30px;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      align-items: center;
      width: 100%;
      cursor: pointer;
      padding: 10px 10px;
      &:hover {
        background: var(--violet);
        border-radius: 20px;
        .icon {
          color: var(--white);
          transition: all 0.3s linear;
        }
        transition: all 0.3s linear;
      }
    }
  }
}
