.header {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - var(--sidebar-width));
  background-color: var(--white);
  height: var(--navbar-height);
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
  z-index: 100;

  .info {
    display: flex;
    align-items: center;
    gap: 20px;

    .totalMemory {
      display: flex;
      align-items: center;
      padding: 10px;
      background-color: var(--gray-bg);
      border: 1px solid var(--gray-text);
      border-radius: 15px;
      font-size: 16px;

      span:not(:first-child) {
        font-weight: 600;
        color: var(--violet);
      }

      div {
        font-weight: 600;
        color: var(--violet);
      }
    }
    .profile {
      display: flex;
      align-items: center;
      span {
        margin-right: 15px;
        font-size: 16px;
      }
    }
  }
}