.grid {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(5, 220px);

  @media screen and (min-width: 1720px) {
    grid-template-columns: repeat(6, 220px);
  }

  @media screen and (min-width: 1940px) {
    grid-template-columns: repeat(7, 220px);
  }

  @media screen and (max-width: 1480px) {
    grid-template-columns: repeat(4, 220px);
  }

  @media screen and (max-width: 1240px) {
    grid-template-columns: repeat(3, 220px);
  }
}
