.folder {
  display: flex;
  align-items: center;
  gap: 10px;

  svg {
    cursor: pointer;
    color: var(--gray-icon);

    &:hover {
      color: var(--gary);
    }
  }
}
@media screen and (max-width: 580px) {
  .folder {
    h1 {
      font-size: 18px;
    }
  }
}
